.panel {
    margin-top: 10px;
    background-color: #5f6165;
    color: white;
}

h2.panel {
    font-size: 26px;
}

.panel-scrollable {
    background-color: lightsteelblue;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 50px;
    max-height: 300px;
}

.grid-wrapper {
    display: grid;
    grid-template-rows:    repeat(20, 25px);
    grid-template-columns: repeat(13, 1fr)
}

/*draft*/
.projected-pick {
    border-bottom-color: gold;
    border-bottom-style: dotted;
}

/*relative value*/
.rv-1 .rv-filled {
    background-color: rgba(0, 128, 0, 1);
}

.rv-2 .rv-filled {
    background-color: rgba(0, 128, 0, 0.8);
}

.rv-3 .rv-filled {
    background-color: rgba(0, 128, 0, 0.6);
}

.rv-4 .rv-filled {
    background-color: rgba(0, 128, 0, 0.4);
}

.rv-5 .rv-filled {
    background-color: rgba(0, 128, 0, 0.2);
}

.rv-6 .rv-filled {
    background-color: rgba(0, 128, 0, 0.1);
}

.rv-7 .rv-filled {
    background-color: rgba(255, 0, 0, 0.1);
}

.rv-8 .rv-filled {
    background-color: rgba(255, 0, 0, 0.3);
}

.rv-9 .rv-filled {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
}

.rv-0 .rv-filled {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
}

/*tiers*/
.tier-1 .tier-filled {
    background-color: rgba(0, 128, 0, 0.6);
}

.tier-2 .tier-filled {
    background-color: rgba(0, 128, 0, 0.4);
}

.tier-3 .tier-filled {
    background-color: rgba(0, 128, 0, 0.3);
}

.tier-4 .tier-filled {
    background-color: rgba(0, 128, 0, 0.2);
}

.tier-5 .tier-filled {
    background-color: rgba(0, 128, 0, 0.1);
}

/*position*/
.position-qb, .position-qb .position-filled {
    background-color: orange;
}

.position-rb, .position-rb .position-filled {
    background-color: lightblue;
}

.position-wr, .position-wr .position-filled {
    background-color: cornflowerblue;
}

.position-te, .position-te .position-filled {
    background-color: mediumpurple;
}

.position-k, .position-k .position-filled {
    background-color: hotpink;
}

.position-def, .position-def .position-filled {
    background-color: khaki;
}